<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	 					 http://www.springframework.org/schema/beans/spring-beans.xsd
 	 					 http://www.springframework.org/schema/aop
 	 					 http://www.springframework.org/schema/aop/spring-aop.xsd
 	 					 http://www.springframework.org/schema/context
 	 					 http://www.springframework.org/schema/context/spring-context.xsd">

	
	<!-- Enable @AspectJ Annotation Support -->
	<aop:aspectj-autoproxy />

	<!-- To activate the dependency injection annotations. -->
	<context:annotation-config />
	<context:component-scan base-package="com.gk.service" />
	<context:component-scan base-package="com.gk.aspect" />
	
	<!-- Bean Config-->
	<bean id="accBean" class="com.gk.dto.Account">
		<property name="accNo" value="abc123" />
		<property name="accName" value="Pranay Singh" />
		<property name="accType" value="Savings" />
		<property name="balance" value="20000" />
	</bean>
		
</beans>